.pie-pagina{
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.pie-pagina i {
    font-size: 2em;
    color: #1259c3;
   margin-bottom: 10px
}

h3{
    font-size: 24px;
}
p{
    font-size:16px;
}

